body {
    background-color: #1e1f23;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    gap: 10px;

    background-color: #2a2b2f;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.all-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60px;
    gap: 10px;
}

#display {
    height: 60px;
    background-color: #44464a;
    border-radius: 10px;
}

.all-buttons button:hover {
    background-color: rgb(110, 95, 160);
}

button {
    border: 2px solid black;
    background-color: #4a4b50;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
}
.delete {
    background-color: #d9534f;
}
.clear {
    background-color: #f0ad4e;
}
input{  
    text-align: right;
    font-size: 3em;
    padding: 10px;
    border: none;
    color: white;
    background-color: #3a3b3f;}